* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: url(Cats\ pics/cat_006.jpg) no-repeat right center fixed;
    background-color: #000000;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #734F4A;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}





.content {
    height: 100vh;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.profile-card {
    text-align: center;
    width: 20%;
    margin-right: 50px;
    margin-left: 250px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.card-header {
    padding: 60px 40px;
    background-color: #9D8575;
}

.card-header button {
    border: none;
    background-color: inherit;
    padding-right: 15px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: x-large;
    padding-top: 10px;
}

.card-header button:hover {
    color: black;
}



.card-footer {
    background: #734F4A;
    padding: 20px 40px;
    align-items: center;
    display: flex inline;
}

.card-footer button {
    border: none;
    background-color: inherit;
    padding-right: 15px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.card-footer button:hover {
    color: black;
}




.change-commands {
    width: 40%;
    text-align: center;
    margin-right: 50px;
    margin-top: 10px;
}

.change-commands h5 {
    font-size: xx-large;
    font-weight: bold;
    padding-bottom: 20px;
}

.races {
    padding: 40px 20px;
    color: white;
    margin-bottom: 10px;
}

.races button {
    width: 200px;
    height: 50px;
    color: white;
    background-color: #9D8575;
    border-color: #734F4A;
    text-align: center;
    display: flex inline;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    margin-bottom: 10px;
}

.races button:hover {
    background-color: #734F4A;
    cursor: pointer;
}


.users {
    padding: 20px 20px;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
}

.users button {
    width: 200px;
    height: 50px;
    color: white;
    background-color: #9D8575;
    border-color: #734F4A;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    margin-bottom: 10px;
}

.users button:hover {
    background-color: #734F4A;
    cursor: pointer;
}


.popup {
    display: none;
}

.deletepopup {
    display: none;
}
.active {
    display: block !important;
    position: fixed;
    top: 0;
    left: 0;
}

.bgd_blurr {
    background-color: #00000080;
    position: fixed;
    width: 100%;
    height: 100%;
}

.contentBx{
    padding: 1rem;
    top: 25%;
    left: 0;
    width: 100%;
    position: absolute;

}
.formBx{
    background-color: #ccab94 ;
    margin: 0 auto;
    max-width: 50%;
}

@media screen and (max-width: 1200px) {

    .content {
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }

    .profile-card {
        width: 50%;
        margin: auto;
        margin-top: 50px;
    }

    .change-commands {
        width: 50%;
        margin: auto;
        margin-top: 50px;
    }

}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .profile-card {
        width: 90%;
    }

    .change-commands {
        width: 90%;
    }
}